.main-header {
    background: couleur(deeper);
    color: couleur(blanc-casse);
    padding: 5rem 0;
    &__site-title {
        color: couleur(blanc-casse);
        font-size: 2rem;
        &:hover {
            text-decoration: none;
        }
        &:visited {
            color: inherit;
        }
    }
    
    .trigger {
        padding-top: 2.5rem;
        a {
            display: inline-block;
            padding: 0 15px;
            text-transform: uppercase;
            color: couleur(blanc-casse);
            &:first-child {
                padding-left: 0;
            }
        }
    }
}