// Pages

.page {
    padding: 5rem 0;
    &__heading {
        font-size: 1.2rem;
        margin-bottom: 5rem;
    }
    &--home {
        
    }
    &--post {
        h1 {
            color: couleur(deeper);
            text-transform: uppercase;
        }
    }
}
