// Posts

.post-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    .post {
        position: relative;
        padding: 12px 0;
        &__meta, &__link, &__title {
            display: inline-block;
        }
        
        &__title {
            margin: 0;
        }
        
        &__meta {
            color: couleur(clay, lighten);
            width: 100px;
            position: absolute;
            bottom: 14px;
            left: -112px;
        }
        
        &__link {
            text-transform: uppercase;
            font-size: 2.2rem;
        }
        &:nth-child(1) {
            padding-top: 0;
        }
    }
}

