// Posts

.post-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    .post {
        position: relative;
        padding: 12px 0;
        margin-bottom: 3rem;
        &__meta, &__link, &__title {
            display: inline-block;
        }
        
        &__title {
            margin: 0;
            border-left: 3px solid couleur(deeper);
            padding-left: 15px;
            a {
                color: couleur(deeper);
            }
        }
        
        &__meta {
            color: couleur(gris-clair);
            width: 100px;
            position: absolute;
            bottom: 14px;
            left: -112px;
        }
        
        &__link {
            text-transform: uppercase;
            font-size: 2.2rem;
        }
        &:nth-child(1) {
            padding-top: 0;
        }
        
        &__excerpt {
            p {
                margin-bottom: 0.7rem;
                line-height: 1.2rem;
            }
        }
    }
}

