<footer class="site-footer">

    <div class="wrapper">

        <ul class="site-footer__social-media-list">
            {% if site.twitter_username %}
            <li class="site-footer__social-media-list__item">
                {% include icon-twitter.html username=site.twitter_username %}
            </li>
            {% endif %}

            {% if site.github_username %}
            <li class="site-footer__social-media-list__item">
                {% include icon-github.html username=site.github_username %}
            </li>
            {% endif %}

            {% if site.email %}
            <li class="site-footer__social-media-list__item"><a href="mailto:{{ site.email }}">email</a></li>
            {% endif %}
        </ul>

    </div>

</footer>
